{% extends 'back_base.html.twig' %}

{% block body %}
<div id="google_translate_element"></div>
<script type="text/javascript">
    function translateToFrench() {
        var el = document.getElementById("google_translate_element").querySelector(".goog-te-combo");
        el.value = "fr";
        el.dispatchEvent(new Event('change'));
    }

    function translateToEnglish() {
        var el = document.getElementById("google_translate_element").querySelector(".goog-te-combo");
        el.value = "en";
        el.dispatchEvent(new Event('change'));
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'en', autoDisplay: false}, 'google_translate_element');
    }
</script>


    <h1>Liste des BonDeCommande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Produit</th>
                      <th>Nom Commercial</th>
                 <th>montant</th>
           

                <th>Quantité</th>
                <th>Statut</th>
                <th>date</th>
                
            </tr>
        </thead>
        <tbody>
        {% for commande in bon_de_commande %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.Produit.id }}</td>
                <td>{% if commande.User %}
                    {{ commande.User.getFirstName() }}
                {% else %}
                    <span class="text-muted">N/A</span>
                {% endif %}
                </td>

                
                <td>{{ commande.montant }}</td>
                <td>{{ commande.quantite  }}</td>
                <td>{{ commande.statut ? 'Actif' : 'Inactif' }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>
                        {% if commande.Produit.getQte() <= 1 %}
                            <span class="alert-icon" title="Stock faible">⚠️</span>
                        {% endif %}
                        <a href="{{ path('app_bon_de_commande_show', {'id': commande.id}) }}">Voir</a>
                        <a href="{{ path('app_bon_de_commande_edit', {'id': commande.id}) }}">Modifier</a>
                    </td>
    <!-- Vos champs de formulaire -->
   
</form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>


    
      
                 
{% endblock %}
