{% block stylesheets %}
   
    <style>
        /* Style personnalisé pour le titre "Demande de congé" */
        .mt-4  {
            text-align: center;
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .error {
    color: red;
}
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        
        <div class="row">
       
            <div class="col-md-6 offset-md-3">
             
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                
                  
                    <div class="form-group">
                        {{ form_label(form.categorie, 'id category') }}
                        {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.categorie) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.montant, 'monatant') }}
                        {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.montant) }}
                    </div>
                     <div class="form-group">
                        {{ form_label(form.date, 'Date') }}
                        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.date) }}
                    </div>
                    
                   
                    <div class="form-group text-center">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}